*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nunito Sans", sans-serif; */
}
/* main styles defaults*/

:root {
  /* Dark Mode Elements */
  --DarkBlue: hsl(209, 23%, 22%);
  /* Dark Mode Background */
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  /* Light Mode Text */
  --other-Dark-Blue: hsl(200, 15%, 8%);
  /* Light Mode Input) */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* Light Mode Background */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --White: hsl(0, 0%, 100%);
  --border-radius: 7px;
  --side-margin: 20px 20px;
  --main-transition: 0.3s all ease;
}
/* standard styles */
/* styles for main */
main {
  background-color: var(--Very-Dark-Blue);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* end of styles for main container */
/* styles for header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  background-color: var(--DarkBlue);
}
/* end of styles for header */
/* heading container */
.heading-container {
  width: 50%;
  color: var(--White);
}
/* end of heading container */
/* styles for heading */
.heading {
  font-size: 1.2em;
}
/* end of styles for heading */
.dark-mode-toggle {
  color: var(--White);
}

/* styles for search input container */
.search-input-container {
  margin: var(--side-margin);
  display: flex;
  justify-content: center;
}
.icon-and-input-container {
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.fa-binoculars {
  position: absolute;
  top: 10px;
  left: 5px;
  color: var(--White);
}
.search-input {
  width: 100%;
  height: 3em;
  text-indent: 30px;
  color: var(--White);
  border: none;
  background-color: var(--DarkBlue);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
::placeholder {
  color: var(--White);
}
/* end of styles for search input container */

.add-height {
  height: 100vh;
}
/* back-button-container */
.back-button-container {
  margin: var(--side-margin);
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.btn {
  height: 35px;
  width: 25%;
  cursor: pointer;
  border: none;
  color: var(--White);
  border-radius: var(--border-radius);
  background-color: var(--DarkBlue);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
/* end of back-button-container */
/* all-characters-tile-display */
.all-characters-tile-display {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* end of all-characters-tile-display */
/* styles for character tile */
.character-tile {
  background-color: var(--DarkBlue);
  color: var(--White);
  text-align: center;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  font-family: "Poppins", sans-serif;
}
.character-name {
  cursor: pointer;
}
.character-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* end of styles for character tile */
/* single-character-details-display */
.single-character-details-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  color: var(--White);
}
.info {
  list-style: none;
}
/* end of single-character-details-display */
/* styles for pagination container */
.page-btn-container {
  display: flex;
  justify-content: center;
}
.page-btn {
  margin: 0px 10px;
}
/* end of styles for pagination container */

/* styles for DOM Manipulation */

@media only screen and (max-width: 375px) {
  .all-characters-tile-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px;
    padding: 10px 20px;
  }
}
/* end of mobile styles  */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .all-characters-tile-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    padding: 10px 20px;
  }
  .single-character-details-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
  }
  .character-img-container-info {
    width: 50%;
    height: 50%;
  }
  .character-img {
    max-width: 100%;
  }
  .character-name-info {
    font-size: 1.5em;
  }
  .info {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1440px) {
  .search-input-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .all-characters-tile-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 10px 20px;
  }
  /* styles for single-character-details-display */
  .single-character-details-display {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    padding: 10px 0px;
  }
  .character-img-container-info {
    width: 30%;
    height: 50%;
    margin-right: 10px;
  }
  .character-name-info {
    font-size: 2em;
  }
  .info {
    font-size: 1.5em;
  }
  /* end of styles for single-character-details-display */
  .page-btn {
    height: 50px;
    font-size: 1em;
    cursor: pointer;
  }
}
.hide-item {
  display: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  /* transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%); */
}
.show-item {
  display: block;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.rabbit {
  /* Dark Mode Elements */
  --DarkBlue: hsl(209, 23%, 22%);
  /* Dark Mode Background */
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  /* Light Mode Text */
  --other-Dark-Blue: hsl(200, 15%, 8%);
  /* Light Mode Input) */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* Light Mode Background */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --White: hsl(0, 0%, 100%);
  --border-radius: 7px;
  --side-margin: 20px 20px;
  --main-transition: 0.3s all ease;
}

.light-mode {
  background-color: var(--Very-Light-Gray);
  color: var(--other-Dark-Blue);
}
.darken-light-text {
  color: var(--other-Dark-Blue);
}
.darken-light-input {
  color: var(--other-Dark-Blue);
  border: 1px solid var(--other-Dark-Blue);
}
